{% extends "base.html" %}

{% block title %}Blog of Wenyi Zhao - 联系我{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="contact-icons">
        <a class="contact-icons" href="https://github.com/PeggyZWY" target="_blank">
            <img class="iconfont iconfont-github" src="{{ url_for('static', filename='iconfont-github.png') }}" alt="iconfont-github">
        </a>
        <a class="contact-icons" href="https://www.zhihu.com/people/mu-qing-huan" target="_blank">
            <img class="iconfont iconfont-zhihu" src="{{ url_for('static', filename='iconfont-zhihu.png') }}" alt="iconfont-zhihu">
        </a>
        <a class="contact-icons" href="https://www.douban.com/people/72338811/" target="_blank">
            <img class="iconfont iconfont-douban" src="{{ url_for('static', filename='iconfont-douban.png') }}" alt="iconfont-douban">
        </a>
        <a class="contact-icons" href="mailto:rainbowzhao123@163.com" target="_blank">
            <img class="iconfont iconfont-mail" src="{{ url_for('static', filename='iconfont-mail.png') }}" alt="iconfont-mail">
        </a>
    </div>
</div>
{% endblock %}
